
.visually-hidden {
position: absolute;
left: -9999px;
}
main {
margin: auto;
text-align: center;
}
input {
display: block;
margin: auto;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  
  /* Individual project cards */
  .card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 300px;
  }
  
  /* Project card heading */
  .card h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  /* Project card paragraphs */
  .card p {

  }